@import url('https://fonts.googleapis.com/css2?family=Lexend&family=Roboto&display=swap');

:root {
    --primary-color: #716767;
    --contrast-color: #f9f9f9;
    --brand-color: #0dafb5;
}

* {
    margin: 0px;
    padding: 0px;
    border: none;
}

body {
    font-family: Roboto, sans-serif;
    color: var(--primary-color);
    width: 100%;
}

h1,
h2,
h3 {
    font-family: 'Lexend', sans-serif;
}

h2 {
    text-transform: uppercase;
    font-size: 35px;
    color: var(--primary-color);
    border-bottom: 4px solid var(--brand-color);
}

/* navigation bar */

nav {
    float: right;
    color: var(--contrast-color);
}

ul {
    margin-right: 40px;
    padding: 15px;
}

.menu-links {
    display: inline-block;
    font-size: 20px;
    padding: 0px 20px;
}

.menu-links>a {
    color: var(--contrast-color);
    letter-spacing: 2px;
    text-decoration: none;
}

.menu-links>a:hover {
    color: var(--brand-color);
}

#active {
    border-bottom: 1px solid var(--brand-color);
    border-width: 2px;
}

/* hero section*/

#hero-section {
    height: 600px;
    width: 100%;
    clear: left;
    margin-bottom: 20px;
}

#hero-image {
    height: 400px;
    width: 100%;
    background-color: var(--last-color);
    color: var(--contrast-color);
    background-image: url(../images/piano-di-sorento.-and-me.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 200px 0 0 0;
}

#hero-content {
    background-color: rgba(0, 0, 0, 0.315);
    width: 700px;
    margin-left: 50px;
    padding: 40px 10px 30px 10px;
    border-radius: 4px;
    text-align: center;
}

h1 {
    font-size: 70px;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

#hero-section p {
    font-size: 20px;
}

#hero-content>i {
    font-size: 50px;
    padding: 20px 0 0 0;
}

/* My view section */

#view {
    width: 90%;
    margin: 0 5%;
    display: flex;
    justify-content: space-evenly;
}

#view h2 {
    padding-bottom: 10px;
    margin-top: 10%;
    margin-bottom: 20px;
}

.section-column {
    flex-direction: row;
    width: 45%;
}

#view img {
    border-radius: 50%;
    box-shadow: 1px 1px var(--brand-color);
    width: 27%;
    padding: 5px;
}

/* about section */

#about {
    width: 90%;
    margin: 30px 5%;
    display: flex;
    justify-content: space-evenly;
}

#about h2,
#about p {
    text-align: right;
}

#about h2 {
    padding-bottom: 10px;
    margin-top: 50px;
    margin-bottom: 10px;
}

#about-picture {
    background-image: url(../images/Biarritz.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 30px;
}

#about-picture>div {
    color: var(--contrast-color);
    border: 8px solid white;
    display: flex;
    background-color: rgba(0, 0, 0, 0.149);
}

#about-picture>div>span {
    flex-direction: row;
}

#about-picture>div>span>i {
    font-size: 40px;
    padding: 20px;
}

.about-reason {
    font-size: 23px;
    padding: 5px;
    margin-top: 10px;
}

/* Footer */

footer {
    background-color: var(--brand-color);
    color: var(--contrast-color);
    padding: 15px;
}

#contacts {
    text-align: center;
}

footer button {
    padding: 15px 40px;
    margin-top: 15px;
    background-color: var(--contrast-color);
    box-shadow: #716767b1 2px 2px;
    border-radius: 4px;
    font-weight: 700;
    color: var(--primary-color);
}

footer button a {
    text-decoration: none;
    color: var(--primary-color);
    letter-spacing: 1px;
}

footer button:hover {
    background-color: var(--primary-color);
    color: var(--contrast-color);
    transition: 0.5s;
    cursor: pointer;
    border: 1px solid var(--contrast-color);
}

#social-links a {
    color: var(--contrast-color);
    margin: 20px 60px;
    font-size: 30px;
}

#social-links a:hover {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    padding: 10px;
    transition: 90ms;

}

/*Destination page*/

/* destinations-tittle section*/

#destinations-tittle {
    background-image: url(../images/piano-di-sorento.-and-me.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--contrast-color);
    padding: 50px 0;
}

#destinations-tittle div {
    background-color: rgba(0, 0, 0, 0.315);
    width: 500px;
    margin-left: 50px;
    padding: 20px 10px 20px 10px;
    border-radius: 4px;
}


/* Destinations article */

#destinations-articles {
    margin: 25px 2%;
}

.destinations-card {
    display: grid;
    justify-content: center;
    align-content: center;
    gap: 15px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);

}

.card {
    display: flex;
    border: 3px solid var(--primary-color);
    border-radius: 4px;
}

.card-image {
    padding: 110px;
    background-color: var(--brand-color);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 3px;
    border-radius: 4px;
}

#amalfi {
    background-image: url(../images/positano.jpg);
}

#istanbul {
    background-image: url(../images/balat-istanbul.jpg);
}

#basque-country {
    background-image: url(../images/villa-arnaga.jpg);
}

#barcelona {
    background-image: url(../images/park-guell.jpg);
}

#northern-ireland {
    background-image: url(../images/Northern-Ireland.jpg);
}

#sicily {
    background-image: url(../images/sicily.jpg);
}

.card-text {
    margin: 10px;
}

.card-text h2 {
    margin-bottom: 5px;
}

.card-text small {
    font-style: italic;
}

.card-text p {
    margin-top: 10px;
    font-size: 15px;
}

.itinary-button {
    text-align: right;
    display: block;
    margin: 20px 5px;
}

.itinary-button button {
    padding: 10px 20px;
    background-color: var(--brand-color);
    color: var(--contrast-color);
    font-weight: 700;
    letter-spacing: 2px;
    border-radius: 4px;
    box-shadow: var(--primary-color) 1px 1px;
}

.itinary-button button:hover {
    background-color: var(--primary-color);
    cursor: pointer;
    transition: 0.5s;
}

/* Contact page*/

#contact-form {
    background-color: var(--brand-color);
    background-image: url(../images/positano-from-sea.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 740px;
    color: var(--contrast-color);
    text-align: center;
}

#contact-form div {
    background-color: rgba(0, 0, 0, 0.315);
    width: 600px;
    padding: 20px 15px;
    border-radius: 4px;
    position: absolute;
    top: 100px;
    left: 60px;
}

#contact-form h1 {
    font-size: 50px;
}

#contact-form p {
    font-size: 20px;
}

/* Form in contact.html */

form {
    padding: 10px 5px;
}

input {
    background-color: rgba(255, 255, 255, 0.411);
    border: 1px solid var(--contrast-color);
    border-radius: 4px;
    color: var(--primary-color);
    letter-spacing: 1px;
    font-weight: 700;
}

input:hover {
    background-color: rgba(255, 255, 255, 0.758);
    transition: 0.5s;
    cursor: pointer;
}


#contact-form input,
textarea {
    margin-bottom: 15px;
}

textarea {
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.622);
    border: 1px solid var(--contrast-color);
    border-radius: 4px;
    letter-spacing: 1px;
    font-weight: 700;
    color: var(--primary-color);
}

textarea::placeholder {
    color: rgb(77, 73, 73);
}

textarea:hover {
    background-color: rgba(255, 255, 255, 0.758);
    transition: 0.5s;
    cursor: pointer;
}

#contact-form input[type=submit] {
    padding: 10px 15px;
    background-color: var(--contrast-color);
    color: var(--primary-color);
    box-shadow: #716767b1 2px 2px;
    letter-spacing: 1px;
    font-weight: 700;
    border-radius: 4px;
}

#contact-form input[type=submit]:hover {
    transition: 1s;
    cursor: pointer;
    background-color: var(--brand-color);
    color: var(--contrast-color);
}